
div.toboggan-login-link-container {
  text-align: right;
}

div.toboggan-block-message {
  text-align: right;
}

div.user-login-block {
  text-align: right;
}

div.user-login-block a {
  text-align: right;
}
