.cell{
background:url('../images/wait.gif') no-repeat center center transparent;
position:absolute;
overflow:hidden;
}

/*cell small*/
.cell-1, .cell-2,
.cell-4, .cell-5, .cell-3{
height:278px;
width:196px;
}

/*cell very small*/
.cell-11, .cell-12{
height:137.5px;
width:196px;
}

/*cell normal*/
.cell-7, .cell-6,
.cell-8, .cell-9, .cell-10{
height:278px;
width:395.5px;
}

.cell-1{
margin-left: 597px;
margin-top: 562px;
}

.cell-2{
margin-left:199px;
}

.cell-8{
margin-left:398px;
}

.cell-4{
margin-top:281px;
}

.cell-5{
margin-left:199px;
margin-top:281px;
}

.cell-6{
margin-left:398px;
margin-top:281px;
}

.cell-7{
margin-top:562px;
}

.cell-3{
margin-left:398px;
margin-top:562px;
}

.cell-12{
margin-top:141px;
}

.cell-9{
margin-top:843px;
}

.cell-10{
margin-left:398px;
margin-top:843px;
}
