#block-views-recent-photos-block {
    font-size: 12px;
}
#block-views-recent-photos-block div.views-field-media-gallery-media {
    float: left;
}
div.views-field-media-gallery-media a {
    display: block;
}
div.views-field-media-gallery-media {
    margin-right: 10px;
}
#block-views-recent-photos-block div.photoinfo {
    float: left;
}
#block-views-recent-photos-block div.views-row {
    overflow: hidden;
    margin-bottom: 10px;
}
