/*
 * CSS for front page
 * This should be added to the custom module's own CSS, then linked from the
 * .info file of the module.
 * */

@import url(http://fonts.googleapis.com/css?family=Overlock+SC);

div#box-profile {
    width: 930px
}

hgroup#carousel-header{
	background: #bfbfbf;
	border-color: white white white;
	border-style: solid solid none;
	border-width: 3px 3px 0;
	height:auto;
}

div#content-carousel{
	border:3px solid white;
	background: white;
}

#carousel-postcard{
	float: right;
}

#carousel-header-content h2{
	font-family: 'Overlock SC', cursive;
	font-size: 36px !important;
	font-weight: 100;
	margin-top: 5px !important;
	margin-bottom: 20px !important;
}

#intro div {
    font-family: sans-serif
}

#intro .desc {
    margin-bottom: 20px
}

a.create-button {
	border-radius: 5px 5px 5px 5px;
	font-size: 110%;
	height: 58px;
	margin-right: 5px;
	text-decoration:none !important;
}

a.shiny-button {
	background: #99ccff; /* Old browsers */
  background: -moz-linear-gradient(top,  #99ccff 0%, #3366cc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99ccff), color-stop(100%,#3366cc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #99ccff 0%,#3366cc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #99ccff 0%,#3366cc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #99ccff 0%,#3366cc 100%); /* IE10+ */
  background: linear-gradient(top,  #99ccff 0%,#3366cc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99ccff', endColorstr='#3366cc',GradientType=0 ); /* IE6-9 */
	border: 1px solid black;
	border-radius: 3px 3px 3px 3px;
	color: #E8E8E8;
	display: inline-block;
	line-height: 27px;
	text-decoration: none;
	vertical-align: top;
}

a.shiny-button:active {
	background: #3366cc; /* Old browsers */
  background: -moz-linear-gradient(top,  #3366cc 0%, #99ccff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3366cc), color-stop(100%,#99ccff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3366cc 0%,#99ccff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3366cc 0%,#99ccff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3366cc 0%,#99ccff 100%); /* IE10+ */
  background: linear-gradient(top,  #3366cc 0%,#99ccff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3366cc', endColorstr='#99ccff',GradientType=0 ); /* IE6-9 */

}

a.shiny-button:hover {
	box-shadow: 0 0 10px 5px rgba(255,255,255,.2);
	color: white;
}

a, a:active, a:visited {
	text-decoration: none;
}

a.create-button span.title {
	font-size: 110%;
	line-height: 58px;
	padding: 0 20px;
}

a.shiny-button span.title {
	font-weight: bold;
}

.android-button{
	background:url('../images/android_button.png') no-repeat center center transparent !important;
}
