/* $Id: gravatar.css,v 1.2.2.1 2011/01/04 20:11:52 davereid Exp $ */

.hide, .js-show {
  display: none;
}

html.js .js-show {
  display: block !important;
}

img#gravatar-imagepreview {
  float: right;
}
