/* $Id$ */

.ctools-button-processed {
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  line-height: 1;
}

.ctools-button-processed:hover {
  cursor: pointer;
}

.ctools-button-processed .ctools-content {
  padding-bottom: 2px;
  padding-top: 2px;
}

.ctools-no-js .ctools-content ul,
.ctools-button-processed .ctools-content ul {
  list-style-image: none;
  list-style-type: none;
}

.ctools-button-processed li {
  line-height: 1.3333;
}

.ctools-button li a {
  padding-left: 12px;
  padding-right: 12px;
}